# This file is part of the pelican-precompress plugin.
# Copyright 2019-2021 Kurt McKee <contactme@kurtmckee.org>
# Released under the MIT license.
#
# Setup instructions:
#
# $ python -m venv venv
# $ source venv/bin/activate
# (venv) $ pip install -r requirements-dev.txt --upgrade
#

docutils
doit
tox
twine
wheel
